*{
    padding: 0;
    margin: 0;
}
.feu{
    background-color: black;
}
.vert{
    background-color: green;
}
.jaune{
    background-color: yellow;
}
.rouge{
    background-color: red;
}
body{
    flex-direction: column;
    
}